

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%;
	margin-top: 0!important;
}
body {
    -webkit-overflow-scrolling: touch;
	margin: 0 !important;
	padding: 0;
	overflow: hidden;
}


/*========================================================================== */


h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}
pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}
a {
	background-color: transparent;
}
abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}
b,
strong {
	font-weight: bolder;
}
code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}
img {
	border-style: none;
}
button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}
button,
input { /* 1 */
	overflow: visible;
}
button,
select { /* 1 */
	text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}
fieldset {
	padding: 0.35em 0.75em 0.625em;
}
legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}
progress {
	vertical-align: baseline;
}
textarea {
	overflow: auto;
}
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
	display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover, a:focus, a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
## YS
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## YS
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## YS
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## YS
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## YS
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## YS
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## YS
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## YS
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## YS
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## YS
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## YS
--------------------------------------------------------------*/
 
 @font-face {
    font-family: 'suisse';
    src: url('Manrope-Regular.woff') format('woff2'),
        url('Manrope-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 @font-face {
    font-family: 'NotoSansKR';
    src: url('NotoSansKR-Regular-Alphabetic.woff2') format('woff2'),
        url('NotoSansKR-Regular-Alphabetic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 @font-face {
    font-family: 'circular';
    src: url('CircularStd-Medium.woff2') format('woff2'),
        url('CircularStd-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
div, p, h1, h2{
    font-family:'NotoSansKR','suisse', sans-serif;
    /*font-weight: 500*/
	/*color: black*/
}

body{
	width: 100vw
	/*background-image: url('metal.jpg');*/
	/*background-size: 100% 100%;*/
}
a{	text-decoration: none;
color: white !important
}
#content{width: 100vw;
	background-color: #1b1e22;
height: 100vh;
position: absolute;}
#bottomshadow{
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background:linear-gradient(to right, rgba(27, 30, 35,1),rgba(27, 30, 35,1),rgba(27, 30, 35,1),rgba(27, 30, 35,1),rgba(27, 30, 35,0),rgba(27, 30, 35,0));
}
#background_whole{
	display: none;
	position: fixed;
	z-index: 0;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	/*background: linear-gradient(to left, #0039c7, #000000, #000000, #000000, #000000, #000000 );*/
	background-color: #1a1a1a;
	background-image: url('image/space.jpg');
	background-size: contain;
	background-position: right;
	filter: saturate(0.5) brightness(1.4);
	/*opacity: 0.5*/
}
/*/index//////////////////////////////////////////////////////////////////////////////////////////////////*/
.entry-content{
	color: black;
	font-size: 2vh;
	line-height: 3vh
	}
.entry-content img{
	margin-top: 3vh;
	width: 100% !important

}
#arrow_bottom{
	position: fixed;
	top: 90vh;
	height: 10vh;
	width: 100vw;
	cursor: pointer;

	z-index: 1000000;
	background-image: url('arrow.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
#arrow_bottom_wrap{
	position: fixed;
	left: 0;
	top: 90vh;
	height: 10vh;
	width: 100vw;
	cursor: pointer;

	z-index: 1000000;
	background:linear-gradient(rgba(240,240,240,0),rgba(240,240,240,1),rgba(240,240,240,1))
}
.thanks_button_div{
	position: fixed;
	top: 90vh;
	height: 10vh;
	width: 100vw;
	cursor: pointer;

	z-index: 10000000;

}
.thanks_button_div div{
	position: fixed;
	top: 90vh;
	height: 10vh;
	width: 100vw;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.thanks_button_div div input{
	position: fixed;
	top: 90vh;
	height: 10vh !important;
	width: 100vw !important;
}
#thanksButtonDiv_9_1{
	position: fixed;
	top: 90vh;
	height: 10vh !important;
	width: 100vw !important;
}
#counter{
	cursor: pointer;
	position: fixed;
	color: white;

	left: 50vw;
	top: 50vh;

	width: 5vh;
	height: 5vh;
	z-index: 1000
}
#hideback{
	position: fixed;	left: 40vh;
	top: 0;

	width: 5vh;
	height: 5vh;
}
#back_wrap{
	background-color: black;
	width: 100vw;
	height: 12.82vh;
	top: 0;
	left: 0;
	position: fixed;
}
#indexwhite_intro{
	position: absolute;
	bottom: 0;
	width: 50%;
	height: 6vh;
	background: linear-gradient(rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1), rgba(255,255,255,0));
    border-top-right-radius: 6.8vh;
    /*border-top-right-radius: 50%;*/
    z-index: 100;
	position: fixed !important;
	top: 2.7vh;
}
#back_wrap div{
	position: fixed !important;
}
/*/index//////////////////////////////////////////////////////////////////////////////////////////////////*/
#test_back{
	background-color: white;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	pointer-events: none;
	position: absolute;
	left: 0;
	top: 0
}
#primary_subwrap{
	overflow-y: visible;
	position: relative;
}
.content-area{
	position: absolute;
	width: 86.5vh;
	height: 100vh;
	z-index: 100;
	background-color: rgba(240,240,240,1);
  -moz-border-image: -moz-linear-gradient(top, rgba(0,204,204,1) 0%, rgba(0,204,204,0) 100%);
  -webkit-border-image: -webkit-linear-gradient(top, rgba(0,204,204,1) 0%, rgba(0,204,204,0) 100%);
  border-image: linear-gradient(to bottom, rgba(0,204,204,1) 0%, rgba(0,204,204,0) 100%);
  -webkit-border-image-slice: 2;
  border-image-slice: 2;
	border-top-width:0px;
	border-bottom-width:0px;
	border-left-width:0px;
	border-right-width:2px;
  border-style: solid;
  /*background-color: black;*/

	/*padding-left: 2%;*/
	overflow-y:scroll;
	overflow-x: hidden;
  	box-sizing: border-box;
}
/*/index//////////////////////////////////////////////////////////////////////////////////////////////////*/

.arrow{
	height: 2vh;
}
#primary_subwrap{
	overflow-y: visible;
	position: relative;
}
#posts{
	width: 100%;
          background-color: rgba(240,240,240,1);

	left: 0%;
	box-sizing: border-box;
	top:0;
	/*overflow-y: scroll;*/
	overflow-x: hidden;
	position: relative;
	transform-origin: center;
	display: table;
}
#posts article{
	vertical-align: top;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
	width: 100%;
	height: auto;
	display: inline-block;
	margin-bottom: 3.2vh;
	background-color: rgba(240,240,240,1);
	float: left;
	padding-left: 1.2vh;
	padding-right:1.2vh;

	/*background-image: url('metal.jpg');*/
}
#post-22{
	display: none !important
}
#posts article a{
	margin:0;
	padding:0;
	height: auto;
	width: 50%;
	float: right;
	padding-top: 0.4vh;
	/*box-shadow: 0px 0px 1vh;*/
	pointer-events: none;
}
#posts article a img{
	/*height: 30vh;*/
	position: relative;
	width: 100%;
    z-index: 10;
	}
#posts article div{
	font-size: 2vh;
	line-height: 3vh;
	word-break: keep-all;
}
.category-test header p{
	width: 20% !important
}
.featured_post a{
	height: auto;
	max-height: 40vh;
	width: 100% !important;
	overflow: hidden;
	position: relative;
    float: left;
	}
.featured_post a img{
	filter: blur(2vh); 
	transform:scaleX(1.2);
	height: 100% !important;
	max-height: 40vh !important;
    left: 0;
    width: auto;
	}
.featured_post a .img_new{
	max-height: 40vh;
    width:auto !important; 
	height: 100%;
    position:absolute !important;  
    z-index:15;
    filter: blur(0); 
    left: 50%;
    transform: scale(1) translateX(-50%);");
	}
#posts article header{
	margin:0;
	/*padding:0.3vh;*/
	position: relative;
	display: flex;
	width: 50%;
    z-index: 20;
    float:left;
	}
#posts article header p{
	position: relative;
	width: calc(100% - 0.4vh) !important;
	padding: 0;
	margin: 0;
	font-size: 2vh;
	line-height: 2vh;
	padding-bottom: 0.35vh;
	padding-top: 0.4vh;
	display: inline-block;
	color: black;
	text-align: right;
	padding-left: 3vh;
	left: 0;
	float:left;
	border: 0.1vh solid black;
	border-radius: 2vh;
	margin-top: 0.3vh;
	margin-left: 0.2vh;
	margin-right: 0.2vh
}
#posts article header p:nth-child(1){
	text-align: left;
}
#posts article header h2{
	position: relative;
	width: 100%;
	padding: 0;
	top: 3.2vh;
	padding-left: 1vh;
	margin: 0;
	font-size: 2vh;
	line-height: 3.2vh;;
	display: inline-block;
	color: black;
	text-align: left;
	left: 0;
	float:left;
	position: absolute;
	word-break: keep-all;
	}
#posts article header .book-meta{
margin-top: -0.3vh;}


.back{
	font-size: 2vh;
	line-height: 2.3vh;
	padding: 0;
	margin:0;
	left: 0%;
	position: relative;
	top: 0;
	color: black;
	padding-top: 0.2vh;
	padding-bottom: 0.15vh;
	padding-left: 1vh;
	padding-right: 1vh;
	margin:0;
	margin-left: 1.5vh;
	margin-right: 1.5vh;
	width: calc(50% - 1.5vh);
	border: 0.1vh solid black;
	border-radius: 2vh;
	display: none;
	margin-bottom: 2.3vh
}
/*/index//////////////////////////////////////////////////////////////////////////////////////////////////*/
/*
#posts article:nth-child(2n) a{
	float: right;
}
#posts article:nth-child(2n+1) a{
	float: left;
}
#posts article:nth-child(2n+1) header{
	left: 50%;
}

#posts article:nth-child(2n) header .arrow{
	left: 50%;
	position: absolute;
	transform: scale(-1);
}
#posts article:nth-child(2n+1) header .arrow{
	left: 0%;
	position: absolute;
}
#posts article:nth-child(2n+1) header{
	left: 50%
}
#posts article:nth-child(2n+1) header h2{
	margin-left: 50%;
	text-align: right;
}
#posts article:nth-child(2n+1) header p{
	margin-left: 50%;
	text-align: right;
}*/
/*/index//////////////////////////////////////////////////////////////////////////////////////////////////*/

#real_time{
	font-size: 3vh;
	line-height: 3vh;
	height: 3vh;
	width: 100%;
	z-index: 100;
	background: white;
	/*color: white;*/
	position: absolute;
	bottom:0vh;
	margin-top: -2.2vh;
	/*transform: rotate(90deg) translateY(-100%);*/
	transform-origin: left top;
	border:none !important;
	background-color: #efefef;
	color: black
}
.archived_time{
	font-size: 2vh;
	line-height: 1vh;
	height: 100vh;
	font-weight: 100;


	z-index: 100;
	position: absolute;
	right: 0;
	margin-right: -4vh;
	top:-1.5vh!important;
	width: 100%!important;
	transform-origin: left top;
	border:none !important;
	/*background-color: #efefef;*/
	color: white; 
	text-align: right;
	/*border-right: 0.1vh solid gray !important;*/

}
.recent_wrap2 .archived_time{
	font-size: 1.5vh !important;
	line-height: 1.5vh !important;
	height: 1.5vh !important;
}
.recent_wrap3 .archived_time{
	font-size: 1vh !important;
	line-height: 1vh !important;
	height: 1vh !important;
}
.recent_wrap4 .archived_time{
	font-size: 0.66vh !important;
	line-height: 0.66vh !important;
	height: 0.66vh !important;
}
#archived_time13,
#archived_time14,
#archived_time15,
#archived_time16{
	font-size: 0.44vh !important;
	line-height: 0.44vh !important;
	height: 0.44vh !important;
}


#leftbar{
	width: 100vh;
	top: 100vh;
	position: fixed;
	left: 0;
	height: 2.5vw;

	transform: rotate(-90deg);
	transform-origin: left top
}
/*/artist_part1////////////////////////////////////////////////////////////////////////////////////////*/
#pre_recent{
	left: 0;
	top: 92.85vh;
	width: 200%;
	height: 176%;
/*	-webkit-filter: brightness(85%) grayscale(100%) contrast(120%); 
    filter: brightness(85%) grayscale(100%) contrast(120%);*/
}

.line1{
	right: 0vw;
	top:0;
	position: absolute;
	width: calc(100vw - 86.5vh);
	height: 84vh;
	z-index: 10;
	/*background-image: url('line-01.png');*/
	background-size: 100% 100%;
	opacity: 0.8

}
.recent-area{
	position: absolute;
	right: -0vw;
	top: 0;
	width: calc(100vw - 86.5vh);
	height: 100%;
	overflow:visible;
	z-index:100;
	-webkit-filter: brightness(100%) contrast(120%); 
    filter: brightness(100%) contrast(120%);
   	/*background-color: black*/
}
.recent-area div{
	position: absolute;
	background-size: 100%;
	/*background-position: 36px 0px;*/
}
.recent-area div:hover{
	cursor: pointer;
	filter: grayscale(100%);
	transform: translate(2vh, -2vh);
}
/*/artist_part1////////////////////////////////////////////////////////////////////////////////////////*/
.recent_img{
	width: 100% !important;
	height: 100% !important;
	background-position: left;
	}
.recent_img:hover{
	-webkit-filter: invert(100%) grayscale(0%)!important;
}

.recent{
	margin:0;
	padding: 0;
	clear: both;
	display: inline-block;
	border-right:2px solid red;
  border-style: solid;
  -moz-border-image: -moz-linear-gradient(top, rgba(0,204,204,1) 0%, rgba(0,204,204,0) 100%);
  -webkit-border-image: -webkit-linear-gradient(top, rgba(0,204,204,1) 0%, rgba(0,204,204,0) 100%);
  border-image: linear-gradient(to bottom, rgba(0,204,204,1) 0%, rgba(0,204,204,0) 100%);
  -webkit-border-image-slice: 2;
  border-image-slice: 2;
	border-top-width:0px;
  	vertical-align: top;
   	line-height: 0px;
   	position: absolute;

	width: 86.5vh;
	height: 100vh;
   	right: 100%;
   	overflow: visible !important;

   	box-shadow: 0.5vh 0.5vh 3vh rgba(0,0,0,1);
   	background-color: black

}
#recent0{z-index: 16;}
#recent1{z-index: 15;}
#recent2{z-index: 14;}
#recent3{z-index: 13;}
#recent4{z-index: 12;}
#recent5{z-index: 11;}
#recent6{z-index: 10;}
#recent7{z-index: 9;}
#recent8{z-index: 8;}
#recent9{z-index: 7;}
#recent10{z-index: 6;}
#recent11{z-index: 5;}
#recent12{z-index: 4;}
#recent13{z-index: 3;}
#recent14{z-index: 2;}
#recent15{z-index: 1;}
#recent16{z-index: 0;}

.recent div{
	right: 0% !important;
	width: 100% !important
}

.recent_img{
	/*-webkit-filter: grayscale(100%); 
    filter: grayscale(100%);*/
}

/*/index//////////////////////////////////////////////////////////////////////////////////////////////////*/
#index{
	/*background-image: url('index.svg');
	background-size: contain;
    background-attachment: fixed;*/
	width: 100%;
	height: 50vh;
	/*background-image: url('index.svg');*/
	background-size: cover;
	/*height: auto;*/
	padding-bottom: 20.12vh;
	right: 0;
	top:0vh;
	position: absolute;
	z-index: 5000;
	float: right;
  	background-image: linear-gradient(black 85%, white ); 

}
#indexsvg{
	width: 100%;
	mix-blend-mode: multiply;
	position: fixed;
	left: 0;
	top: 0
}
.site-title{
	vertical-align: top;
	padding: 0;
	text-align: center;
	margin:0;
	/*margin-left: 100%;*/
	clear: both;
	display: inline-block;
	font-size: 5.2vh !important;
	line-height: 7vh;
	position: relative;
	/*left: 100%;*/
	width: 100%;
	font-weight: 500;
	/*background-color: white;*/
	float: left;
	right: 0;
	color: white;
	white-space: nowrap;
}
#site-title-link span{
	margin-top: 0.5vh;
	font-size: 2vh;
	line-height: 2vh;
	padding: 0;
	padding-top: 0.5vh;
	padding-bottom: 0.15vh;
	padding-left: 1vh;
	padding-right: 1vh;
	margin:0;
	margin-right: 0.5vh;
	border: 0.1vh solid white;
	border-radius: 2vh;
	text-align: center;
	vertical-align: top;
	position: absolute;
	right: 0;
	top: 6vh

}
#site-title-link span span{
	display: none
}
.site-description:after {
content: "Developer: JES Corporation - A Spencer Family Company";
display: block;
}
.site-subtitle{
	font-size: 2vh;
	line-height: 2.55vh;
	font-weight: 500;
	margin-top: -1vh
}
/*/artist_part1////////////////////////////////////////////////////////////////////////////////////////*/
.column {
	display: inline-block;
	box-sizing: border-box;
	font-size: 2.2vh;
	line-height: 2.9vh;
	margin: 0;
	padding:0;
	position: relative;
	padding-top:0.5vh;
	float: left;
	right: 0;
	color: white;
	/*border-top: 0.2vh solid white;*/
}
.column h2{
	font-size: 2.2vh;
	line-height: 2.5vh;
	padding: 0;
	margin:0;
	width: calc(100% - 0.5vh);
	font-weight: 500;
	border: 0.1vh solid white;
	border-radius: 2vh;
	padding-left: 3vh;
	margin-right: 0.5vh;
	text-align: left;
	padding-top: 0.3vh;
	padding-bottom: 0.2vh;
	margin-top:0.3vh;
	margin-bottom:0.3vh;
}
	#column14wrap h2{
		padding-left: 1.4vh;
		margin-left: 0.2vh;

	}
.column p {
	padding: 0;
	margin:0;
	padding-left: 1vh;

}
.column p a{
	font-size: 2.2vh;
	line-height: 2.5vh;
	padding: 0;
	margin:0;
	width: auto;
	display: inline-block;
	float: left;
	text-align: right;
}
#column14wrap{
	width:40%;
		padding-top: 0;
}
#indexwhite{
	position: absolute;
	bottom: 0;
	width: 50%;
	height: 12vh;
	background-color: white;
    border-top-right-radius: 50vh;
    /*border-top-right-radius: 50%;*/
    z-index: 100;
    display: none;
}
#column1{
	width: 100%;
}
#column4{
	width: 100%
}
#column4 h2{
	font-size: 2vh;
	line-height: 2.55vh;
	width: 16vh
}
#column4 h2:nth-child(2) {
	width: 12vh
}
#column2{
	width:30%;
}
#column3 a{
	border-radius: 50%;
	width:calc(50% - 0.5vh) !important;
	margin-top: 1vh;
	margin-right: 0.5vh;
}
#column3 img{
	border-radius: 100%;
	width: 100%;
}
#column3 {
	width: 30%;
}
.category_group{
	float: right;
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0
}
.category_group h2{
	font-size: 2.2vh;
	line-height: 2.7vh;
	width: auto;
	display: inline-block;
	text-align: center;
	margin: 0;
	padding-left: 2vh;
	padding-right: 2vh;
	border: 0.1vh solid white;
	border-radius: 2vh;
	color: white !important

}
#time{

}
/*/index//////////////////////////////////////////////////////////////////////////////////////////////////*/

#ys_artwork{
	width: 100vw;
	height: 100vh;
	position: fixed;
	display: none;
	right: 0;
	top: 0;
	transform: rotateX(90deg);

	z-index: 10000;

	background-position: center;
	background-repeat: no-repeat;
	background-image: url('image/testocr.jpg');
	background-color: white;
	background-size: 68.4% 83.4%;
}
#cover_whole{
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10000000;

	display: none
}
.man_wrap{
	width: 101vh;
	height: 101vh;
	position: absolute;
	z-index: 100
}
.pre_man{
	width: 100%;
	height: 100%;
	background-image: url(image/pre_man.gif);
	background-size: 100%;
}
.man{
	width: 50%;
	height: 100%;
	right: 0;
	top:18.05vh;

	position: absolute;
	background-size: 100%;
	display: none;
}
#man1{background-image: url(image/man1.png);}
#man2{background-image: url(image/man1.png);}
#man3{background-image: url(image/man1.png);}
#man4{background-image: url(image/man1.png);}
#man5{background-image: url(image/man1.png);}
#man6{background-image: url(image/man1.png);}
#man7{background-image: url(image/man1.png);}
#man8{background-image: url(image/man1.png);}
#man9{background-image: url(image/man1.png);}
#man10{background-image: url(image/man1.png);}
#man11{background-image: url(image/man1.png);}
#man12{background-image: url(image/man1.png);}
#man13{background-image: url(image/man1.png);}
#man_wrap1{
	top:28.842vh;
	left: calc(71.5vw - 50.5vh);
	z-index: 15
}
#man_wrap2{
	top:28.842vh;
	left: calc(34.1vw - 50.5vh);
	z-index: 14
}
#man_wrap3{
	top:28.842vh;
	left: calc(-3.3vw - 50.5vh);
	z-index: 13
}
#man_wrap4{
	top:8.842vh;
	left: calc(52.8vw - 50.5vh);
	z-index: 12
}
#man_wrap5{
	top:8.842vh;
	left: calc(15.4vw - 50.5vh);
	z-index: 11
}
#man_wrap6{
	top:-11.158vh;
	left: calc(71.5vw - 50.5vh);
	z-index: 10
}
#man_wrap7{
	top:-11.158vh;
	left: calc(34.1vw - 50.5vh);
	z-index: 9
}
#man_wrap8{
	top:-11.158vh;
	left: calc(-3.3vw - 50.5vh);
	z-index: 8
}
#man_wrap9{
	top:-31.158vh;
	left: calc(52.8vw - 50.5vh);
	z-index: 7
}
#man_wrap10{
	top:-31.158vh;
	left: calc(15.4vw - 50.5vh);
	z-index: 6
}
#man_wrap11{
	top:-38.158vh;
	left: calc(71.5vw - 50.5vh);
	z-index: 5
}
#man_wrap12{
	top:-38.158vh;
	left: calc(34.1vw - 50.5vh);
	z-index: 4
}
#man_wrap13{
	top:-38.158vh;
	left: calc(-3.3vw - 50.5vh);
	z-index: 3
}
#fromstart{
	position: fixed;
	width: 100vw;
	height: 10vh;
	display: none;
	cursor: pointer;
	z-index: 100000;

	font-size: 5.2vh;
	line-height: 7vh;
	padding-top: 1vh;
	background: linear-gradient(rgba(240,240,240,1),rgba(240,240,240,1),rgba(240,240,240,0))
}
body{

  perspective: 5000px;
}
#topshadow{
	position: fixed;
	z-index: 100000;
	width: 16vw;
	height: 100vh;
	right: 0;
	top: 0vh;
	background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.8));
}
.image_top{
	position: fixed;
	right: 0;
	top: 0;
	height: 12.82vh;
	width: 25.64vh;
	z-index: 100;
}
#whitewrap{
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999999;
	background-color: white;
	display: none
}
#image_top1{background-image: url('image/top1.jpg');z-index:101;  background-size: cover;}
#image_top2{background-image: url('image/top2.jpg');z-index:102;  background-size: cover;}
#image_top3{background-image: url('image/top3.jpg');z-index:100;  background-size: cover;}
html {
	margin-top: 0!important;
}
#column2 h2:hover{
	cursor: pointer;
	background-color: white;
	color: black !important
}
#column2 h2:hover > a{
	cursor: pointer;
	background-color: white;
	color: black !important
}
.back:hover{
	cursor: pointer;
	background-color: black;
	color: white
}
#column14wrap h2:hover{
	cursor: pointer;
	background-color: white;
	color: black
}
#column14wrap h2:hover > a{
	cursor: pointer;
	background-color: white;
	color: black !important
}
article:hover{
	cursor: pointer;
}
@media (max-aspect-ratio: 86/100) {
.back{
		font-size: 3vh;
		line-height: 3.6vh;
		width: calc(100% - 2.8vh) !important;
		border: 1.5px solid black;
		border-radius: 2vh;
		position: relative;
		top: -5.4vh

}
#column14wrap h2{margin-top:calc(0.5vh + 3px)}
#column2 h2:nth-child(2){
	margin-top:calc(0.5vh + 3px)
}
  .content-area {
  	border-right: 0px;
  	width: 100vw;
  	top: 0
  }
  html{
  	height: 100vh
  }
	.recent-area{display: none
	}
	.site-title{
		white-space: auto;
		font-size: 6.2vw !important;
	}
	.site-subtitle{
		font-size: 5.2vw
	}
	.column{width: 100% !important;
	}
	.column h2{
		font-size: 3.5vh;
		line-height: 4.5vh;
		width: calc(100% - 0.8vh) !important;
		border-width: 1.5px;
		border-radius: 5vh
	}
	#posts article header p, .entry-content{
		font-size: 3vh !important;
		line-height: 3.6vh !important;

		border-width: 1.5px;
		border-radius: 5vh
	}
	.entry-content{
		font-size: 3vh !important;
		line-height: 4.2vh !important;
	}
	#post-9 .entry-content{
		font-size: 5.2vh !important;
		line-height: 7vh !important;
	}
	article{
		margin-bottom: 7.2vh !important;
		padding-bottom: 6vh
	}
	#posts article header h2{
		font-size: 3vh;
		line-height: 3.6vh;
		font-weight: 300;
		top:5.5vh;

	}
	#cat_task{display: none}
	#cat_test{display: none}
	#cat_program{
		display: none;
	}
	#column3 img{
		display: none
	} 
	.column p{
		font-size: 3.5vh;
		line-height: 4.5vh;
	}
	#indexwhite{
		display: none
	}
	#posts{background-color: rgba(240,240,240,1)}
	#index{
		height: 80vh !important;
		transform-origin: top;
	}
	html{overflow:hidden;}
	#post-9 .entry-content , #fromstart{
	margin-left: 0 !important;
	width: 100vw !important;
	}
	.content-area{
		/*height: 100vh !important*/
	}
	/*article{width: 100% !important}*/
	article a, article header{
		width: 100% !important
	}
	#arrow_bottom{
		height: 30vh;
		top:70vh;
		background-size: 20%
	}
	#arrow_bottom_wrap, .thanks_button_div, .thanks_button_div div, .thanks_button_div div input, #thanksButtonDiv_9_1{
		height: 30vh;
		top:70vh;
	}



	.postid-9 .content-area{
		height: 120vh !important
	}
	body{
		overflow: visible;
	}
}
@media (min-aspect-ratio: 152/95) {
	.postid-9 .entry-content, #fromstart{
		margin-left: calc( 50vw - 55vh) !important
	}

}
@media (max-aspect-ratio: 953/1070) {
	.image_top{
		opacity: 0;
	}
	#topshadow{
		display: none
	}
}
/*/index//////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/artist_part1////////////////////////////////////////////////////////////////////////////////////////*/
/*/index//////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/index//////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/index//////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/index//////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/index//////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/index//////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/index//////////////////////////////////////////////////////////////////////////////////////////////////*/
